<!doctype html>
<html>
<head>
	<title></title>
</head>

<body>
    <div id="progress" style="display:none;">
    	<div id="uploading">
            <div id="barbackground" style="height:12px;width:100%;background-color:rgb(182,205,246);position:absolute;"></div>
            <div id="bar" style="height:12px;width:0%;background-color:blue;position:absolute;"></div>
        </div>
    	<div id="unzipping" width="100%" style="opacity:0;" >
    		<div>
                <img src="/images/loading.gif" />
            </div>
    	</div>
        <br/><br/>
        <div>
            <div id="uploadText">Uploading...</div>
            <div id="unzipText"></div>
        </div>
    </div>
    <form  method="post" action="/upload" enctype="multipart/form-data">
    	<input type="text" name="container" id="container" value="repository" style="display:none;" />
    	<input type="file" name="file" required/>
    	<input id="submit" type="submit" value="Upload" />
    </form>
    <script type="text/javascript" src="/javascripts/jquery-1-10-min.js"></script>
    <script type="text/javascript" src="/javascripts/json2.js"></script>
    <script type="text/javascript" src="/javascripts/postMessages.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascripts/myscript.js"></script>
    <script type="text/javascript">
    	SendMessage({"theFunction":"tellMeTheOrganizationName", "thaData":""});
    </script>
</body>
</html>