<!doctype html>
<html>
<head>
	<title></title>
</head>

<body style="background-color: rgb(239, 239, 239);">
    <div id="progress" style="display:none;">
    	<div id="uploading" style="height:10px;width:0%;background-color:blue;"></div>
    	<table id="unzipping" width="100%" border="0" style="display:none;" > Unzipping. Please wait...</br>
    		<img src="http://preloaders.net/preloaders/5/Filled%20fading%20balls.gif" />
    	</table>
    </div>
    <form  method="post" action="/upload" enctype="multipart/form-data">
    	<input type="text" name="container" id="container" value="repository" style="display:none;" />
    	<input type="file" name="file" required/>
    	<input id="submit" type="submit" value="Upload" />
    </form>
    <script type="text/javascript" src="/javascripts/jquery-1-10-min.js"></script>
    <script type="text/javascript" src="/javascripts/json2.js"></script>
    <script type="text/javascript" src="/javascripts/postMessages.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascripts/myscript.js"></script>
    <script type="text/javascript">
    	SendMessage({"theFunction":"tellMeTheOrganizationName", "thaData":""});
    </script>
</body>
</html>