.tran19 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran17 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran15 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran13 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran11 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran10 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran9 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran8 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran7 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
.tran6 {opacity: 0;-webkit-transition-property: opacity;-webkit-transition-duration: 1s;transition-timing-function: ease-in;}
